# App name
APP_NAME = Findme

# API Url
API_URL = 

# dynamic link
API_SOCKET = 

# Android app ID. Define on google play
ANDROID_APP_ID = 

# Android app version name, define on google play
ANDROID_APP_VERSION_NAME =

# Android version code, this is an unique code on google play
ANDROID_APP_VERSION_CODE = 

# Bundle ID of app on app store
IOS_APP_ID = 

# Version name on apple store
IOS_APP_VERSION_CODE = 

# Build code on app store, unique for each version
IOS_APP_BUILD_CODE = 

# Code push key
CODEPUSH_ANDROID_DEVELOPMENT_KEY = 
CODEPUSH_IOS_DEVELOPMENT_KEY = 
ONE_SIGNAL_APP_ID = 

# Google Maps API Key
GOOGLE_MAPS_API_KEY =